html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  height: 100%;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#circle1 {
  position: absolute;
  top: 5vh;
  left: calc((50vw - 40vh) / 2);
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

#circle2 {
  position: absolute;
  top: 5vh;
  right: calc((50vw - 40vh) / 2);
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

#circle3 {
  position: absolute;
  bottom: 5vh;
  left: calc((50vw - 40vh) / 2);
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

#circle4 {
  position: absolute;
  bottom: 5vh;
  right: calc((50vw - 40vh) / 2);
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}
